# `WCA - 3 Cards reports - Sproc details.xlsx`
## `Unique tables and Column detail`

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = r"C:\Users\zhicheng.liu\Downloads\WCA - 3 Cards reports - Sproc details.xlsx"
df = pd.read_excel(io=path, sheet_name="Unique tables and Column detail")
df.columns = ["_".join(column.lower().split()) for column in df.columns]
df.head()

,table_name,,data_type,character_maximum_length,numeric_precision,is_nullable
0,CARD_SHIPMENT,tpa_id,varchar,6.0,NaN,NO
1,CARD_SHIPMENT,card_num,varchar,19.0,NaN,NO
2,CARD_SHIPMENT,generation_key,int,NaN,10.0,NO
3,CARD_SHIPMENT,card_stock_id,varchar,5.0,NaN,NO
4,CARD_SHIPMENT,issue_addr_cde,smallint,NaN,5.0,NO

### `table_name`

In [3]:
df["table_name"].unique()

array(['CARD_SHIPMENT', 'CARD_STATUS_REASON', 'DATA_PARTNER_USER_TPA',
       'EMPLOYEE_MISC_DATA', 'EMPLOYER', 'EMPLOYER_CLASS',
       'EMPLOYER_DIVISION', 'EMPLOYER_USER', 'FEATURE_TPA', 'FLEX_CARD',
       'MOBILE_PAY_ACTIVATION', 'PARTICIPANT', 'PROFILE_FUNC', 'ROLE',
       'ROLE_EMPLOYER', 'SYSTEM_PARAMETER', 'TPA', 'USER_ID'],
      dtype=object)

In [4]:
df["table_name"].nunique()

18

### `data_type`

In [5]:
df["data_type"].unique()

array(['varchar', 'int', 'smallint', 'char', 'datetime', 'tinyint',
       'bigint', 'money', 'timestamp', 'bit', 'uniqueidentifier'],
      dtype=object)

In [6]:
df["data_type"].nunique()

11

### `character_maximum_length`

In [7]:
df["character_maximum_length"].unique()

array([   6.,   19.,   nan,    5.,  255.,    3.,    8.,   26.,   50.,
         30.,   15.,   45.,   90.,   75.,  150.,    2.,   36.,  100.,
         18.,   20., 1000., 2000.,   25.,  500.,   14.,   64.,    9.,
         12.,   10.,   88.,   16.])

In [8]:
df["character_maximum_length"].nunique()

30

### `numeric_precision`

In [9]:
df["numeric_precision"].unique()

array([nan, 10.,  5.,  3., 19.])

In [10]:
df["numeric_precision"].nunique()

4

### `is_nullable`

In [11]:
df["is_nullable"].unique()

array(['NO', 'YES'], dtype=object)

In [12]:
df["is_nullable"].nunique()

2